<div class="card mat-card p-0">
    <div class="card-header primary">Active Documents</div>
    <div class="card-body">
        <table class="table table-striped" *ngIf="data.length>0">
            <thead>
              <tr>
                <th>Documentation</th>
                <th>Created</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of data">
                <td>{{d.name}}</td>
                <td>{{d.created}}</td>
                <td><span class="navigation-link">View</span></td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="data.length==0" class="text-center" style="min-height:80px">
            <span>You dont have any active working documents, create one now using Quick Start</span>
          </div>
    </div>
</div>