<div class="container">
  <div class="main text-center">
    <div class="top">
      <div class="head1">Calculate and Track your Networth</div>
      <div class="head2">
        Create your profile by adding your income, assets and liabilities.
        Track your networth and Plan your wealth &amp; investement management for bright future<br/>
        <u>Note:</u><span class="d-inline-block" style="width:5px"></span>We do not provide financial advisors here, you are master of your wealth
      </div>
    </div>
    <div class="bottom">

    </div>
  </div>
  
</div>